* {
  box-sizing: border-box;
}

html, body,body {
  margin: 0;
  background-color: #0d0d0d;
  color: #f0f0f0;
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.main-content {
  flex: 1;
  padding: 2rem;
}
.container {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

h1{
  color: #000;
}
h2 {
  color: #f0f0f0;
}


.project-card {
  background-color: #1a1a1a;
  padding: 1.5rem;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(255, 165, 0, 0.3);
}


.container {
  padding: 2rem;
}

header {
  background: #FF8000;
  color: #000;
  padding: 2rem;
  border-radius: 16px;
  margin-bottom: 2rem;
  text-align: center;
}

.custom-header {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 20px;
  margin-bottom: 2rem;
  border-left: 4px solid #FF8000;
  border-right: 4px solid #FF8000;
}

.profile-photo {
  width: 120px;
  height: 120px;
  background-color: #333;
  border-radius: 50%;
  margin-right: 2rem;
  border: 3px solid #FF8000;
  background-size: cover;
  background-position: center;
}


.header-text h1 {
  font-size: 1.8rem;
  margin: 0;
  color: #FF8000;
}

.header-text h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ccc;
  margin-top: 0.5rem;
}
.download-button {
  margin-top: 1rem;
}

.download-button a {
  background-color: #444;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: bold;
  display: inline-block;
}

.download-button a:hover {
  background-color: #FF8000;
  color: black;
}
.projects-section {
  padding: 2rem 1rem;
  flex-direction: column;
  
}
section {
  background: #1a1a1a;
  padding: 1.5rem;
  border-radius: 16px;
  margin-bottom: 2rem;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: white;
}
.section-container {
 
  margin: 0 auto;
  padding: 1rem;
}
.projects-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
  background-color: #1a1a1a;
  padding: 1.5rem;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
}

.project-card:hover {
  background-color: orange;
  color: black;
}

.project-card:hover .project-title {
  color: black;
  text-decoration: none;
}
.about {
  max-width: 1200px; /* Mesma largura dos outros blocos */
  margin: 0 auto;
  padding: 1.5rem;
  background: #1a1a1a;
  border-radius: 16px;
  margin-bottom: 2rem;
}

.about h3 {
  color: orange;
  margin-bottom: 1rem;
}

.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skill-item {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 1.25rem 2rem;
  border-radius: 12px;
  transition: color 0.4s ease;
  cursor: pointer;
  min-height: 70px;
}

.skill-item span {
  color: #fff;
  z-index: 2;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.4s ease;
}

.skill-item img {
  width: 42px;
  height: auto;
  filter: grayscale(100%) brightness(0.8); /* Imagem sem cor inicialmente */
  opacity: 0; /* Imagem invisível inicialmente */
  transition: filter 0.4s ease, opacity 0.4s ease; /* Transições para cor e visibilidade */
  z-index: 2;
}

.skill-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: orange;
  z-index: 1;
  transition: width 0.5s ease;
}

.skill-item:hover::before {
  width: 100%; /* Preenche a barra de progresso ao passar o mouse */
}

.skill-item:hover span {
  color: #000; /* Muda a cor do texto no hover */
}

/* Alteração da imagem quando a barra de progresso se preenche */
.skill-item:hover img {
  filter: grayscale(0%) brightness(1); /* Imagem colorida */
  opacity: 1; /* Torna a imagem visível */
}


footer {

  text-align: center;

  width: 100%;

}

footer a {
  margin: 0 1rem;
  color: orange;
  text-decoration: none;
  
}

footer a:hover {
  text-decoration: underline;
}
.custom-footer {
  background-color: #2e2e2e;
  color: #ccc;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  border-top: 1px solid #444;
}

.footer-icons a {
  margin-left: 1rem;
  transition: transform 0.2s ease, fill 0.3s ease;
}

.footer-icons a:hover svg {
  fill: orange;
  transform: scale(1.1);
}